services:
  backend:
    build: .
    container_name: eventia-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/usr/src/app
    command: npm run dev

  db:
    image: postgres:16
    container_name: eventia-db
    restart: always
    environment:
      POSTGRES_DB: eventia_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7.0.12
    container_name: eventia-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
